/* :root {
  font-family: 'Times New Roman', Times, serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: whitesmoke;
}
*body{
  margin: auto;
  height: 100%;
  align-items: center;
  text-align: center;
} */